


body {
    background-image:url('./dc.jpg');
    color:red;
  
}

button {
    background-color:red;
    width: 200px;
    padding: 20px;
    margin-left: 580px;
    margin-top: 20px;
}

.container {
    background-color: black;
    width: 30%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 300px;   
}

button:hover {
    background-color: rgb(46, 235, 46);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    border: 5px solid green;

}